body {
  margin: 0;
}

#menu {
  margin: 0;
  background-color: rgb(153, 153, 255);
}

#menu img {
  padding: 4px 10px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#menu ul {
  margin: 0;
  background-color: rgb(153, 153, 255);
  list-style: none;
}

#menu ul li {
  display: inline;
}

#menu ul li a {
  padding: 4px 12px;
  display: inline-block;
  font-size: 30px;

  color: white;
  text-decoration: none;
}

#menu ul li a:hover {
  background-color: rgb(102, 102, 255);
}

#anuncio {
  margin: 3%;
}

#anuncio p a {
  text-decoration: none;
  color: black;
  font-size: 35px;
}

#anuncio ul {
  margin: 0;
  list-style: none;
}

#anuncio ul li {
}

#anuncio ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

#anuncio ul li img {
  width: 50%;
}

#materia {
  margin: 3%;
}

#materia p {
  font-size: 35px;
}

#materia p a {
  font-size: 20px;
}

#materia p a ul li {
  font-size: 20px;
}
